# Fichier de config RType

# Global config
debug =     0
motd = "Salut toi"

# Server config
Server.SleepTime = 100
Server.Debug = 1
Server.MaxGameCount = 100

# Games config
Game.SleepTime = 100
Game.Debug = 1
Game.StartPort = 5000
Game.Socket.Timeout = 10
Game.Player.PingInterval = 2000
