<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>demo</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundlePackageType - 2</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>© 2013 teamMadScientist</string>
	<key>CFBundleIdentifier</key>
	<string>com.teamMadScientist.demo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>demo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.01</string>
	<key>CFBundleSignature</key>
	<string>????</string>
</dict>
</plist>
